{{>_novanota}}


<!-- Card note -->
<div  class="row row-cols-1 row-cols-md-3 g-4 mt-4 shadow-lg rounded border-radius: 30px;">
  {{#each notes}}
  <div class="col">
    <div id="card-note" style=background-color: {{cor}} name="id" class="card bg-dark text-light border-0">
      
      <a href="/note/{{_id}}"><img id="capa" src="{{img_link}}" class="card-img-top" alt="..."/></a>
      <div class="card-body">
        <h4 id="note-title" class="card-title">{{title}}</h4>
        <p id="description" class="card-text">
          {{note}}
        </p>
      </div>

      {{!-- Descrição --}}
      <div id="card-b" style="background-color: {{cor}}" class="d-inline-flex">
        {{!-- Logo de usuário --}}
        <a class=" d-flex align-items-center hidden-arrow " href="#" id=""role="button">
        
        <img src="https://lh3.googleusercontent.com/ogw/ADea4I4Yn3_jU-L3L2d2cihQmv7GY_RPPKfWoqDNiKWjNA=s32-c-mo" class="rounded-circle mx-2" height="40" alt=""
        />
      </a>

        <small style="width: 12rem;">
          <span>Por <span id="flipboard-author author-single" class="author"><a class="text-light" href="#" title="Posts de {{note.autor}}" rel="author">{{autor}}</a></span><br>{{date}}</span></small>

        <!-- Botão Excluir Nota -->
        <form method="POST" action="/deletar" class=" mx-auto">
          <input type="hidden" name="id" value='{{_id}}'>
           <button id="btn-excluir" type="submit" class="btn btn-dark btn-floating mt-2 " value="" name=""><i class="fas fa-trash"></i></button>
        </form>

      {{>_dropdownmenu}}
      <!-- </div> -->

</div>
    


  </div>
    </div>

  {{else}}
  {{/each}}

</div>


           

           