

<!-- Card note -->
<div  class="  mt-4 shadow-lg rounded">
    <div style="background-color: #282828;" id="card-note"  class="card  text-light mx-auto">
      
      <!-- Pagination -->
<nav  aria-label="...">
  <ul style="border-radius: 30px;" class="pagination pagination-sm bg-transparent text-light mx-2">
    <li class="page-item" aria-current="page">
      <span style="color: #686868;" class=""><a class="text-decoration-none mx-2" href="/">Inicio</a> » </span>
    </li> 
    <li class="page-item" aria-current="page">
      <span style="color: #686868;" class=""><a class="text-decoration-none mx-2" href="/">Notas</a> » </span>
    </li> 
    <li class=""><a class="text-decoration-none mx-2" href="#">{{note.title}}</a></li>
  </ul>
</nav>


      
      <img id="page_img" src="{{note.img_link}}" class="card-img-top mx-auto mt-0 mb-2" alt="..."/>
      <div class="card-body">
        <h4 id="note-title" class="card-title mx-auto">{{note.title}}</h4>
        <p style="white-space: pre-line;" id="description" class="card-text">
          {{note.note}}
        </p>
        

        


      </div>

      {{!-- Descrição --}}
      <div id="card-b" style="background-color: {{note.cor}}" class="d-inline-flex">
        {{!-- Logo de usuário --}}
        <a class=" d-flex align-items-center hidden-arrow " href="#" id=""role="button">
        
        <img src="https://lh3.googleusercontent.com/ogw/ADea4I4Yn3_jU-L3L2d2cihQmv7GY_RPPKfWoqDNiKWjNA=s32-c-mo" class="rounded-circle mx-2" height="40" alt=""
        />
      </a>

        <small style="width: 12rem;">
          <span>Por <span id="flipboard-author author-single" class="author"><a class="text-light" href="#" title="Posts de {{note.autor}}" rel="author">{{note.autor}}</a></span><br>{{note.date}}</span></small>

</div>
      </div>
  </div>